{% include 'admin/header_admin.html' %}

<h1 class="clients">All of the clients</h1>
<div class="all-clients">
  {% for benef in clients %}
  <div class="clients-info">
    <h3 class="clients-name">
      {% if benef.gender == "Man" %} Mr. {{ benef.lastName + ' ' +
      benef.firstName }} {% else %} Mrs. {{ benef.lastName + ' ' +
      benef.firstName }} {% endif %}
    </h3>
    <p class="clients-rib">{{ benef.rib }}</p>
    <a
      href="{{ url_for('delete_benef', benef_id=benef.client_id) }}"
      class="clients-suspend"
      >Suspend account</a
    >
  </div>
  {% if not loop.last %}
  <hr class="clients-hr" />
  {% endif %} {% endfor %}
</div>

{% include 'admin/footer_admin.html' %}
