{% include 'admin/header_admin.html' %}

<h1 class="clients">All of the clients</h1>
{% if clients %}
<div class="all-clients">
  {% for client in clients %}
  <div class="clients-info">
    <h3 class="clients-name">
      {% if client.gender == "Man" %} Mr. {{ client.lastName + ' ' +
      client.firstName }} {% else %} Mrs. {{ client.lastName + ' ' +
      client.firstName }} {% endif %}
    </h3>
    <p class="clients-rib">{{ client.rib }}</p>
    <a
      href="{{ url_for('delete_client', client_id=client.client_id) }}"
      class="clients-suspend"
      >Suspend account</a
    >
  </div>
  {% if not loop.last %}
  <hr class="clients-hr" />
  {% endif %} {% endfor %}
</div>
{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<p class="client-deleted">{{message}}</p>
{% endfor %} {% endif %} {% endwith %} {% else %}
<h2 class="client-title">There is no client yet.</h2>
{% endif %} {% include 'admin/footer_admin.html' %}
