{% include 'admin/header_admin.html' %}

<h1 class="clients">All of the deposits</h1>
<div class="all-clients">
  {% for deposit, client in deposit %}
  <div class="clients-info">
    <h3 class="clients-name">
      {% if client.gender == "Man" %} Mr. {{ client.lastName + ' ' +
      client.firstName }} {% else %} Mrs. {{ client.lastName + ' ' +
      client.firstName }} {% endif %}
    </h3>
    <p class="clients-rib">{{ client.rib }}</p>
    <p class="clients-amount">
      Deposit amount: <span>€{{ deposit.amount }}</span>
    </p>
    <a
      href="{{ url_for('deposits_admin', deposit_id=deposit.id, acceptance=True, client_id=client.client_id, amount=deposit.amount) }}"
      class="clients-accept"
      >Accept</a
    >
    <a
      href="{{ url_for('deposits_admin', deposit_id=deposit.id, acceptance=False, client_id=client.client_id, amount=deposit.amount) }}"
      class="clients-reject"
      >Reject</a
    >
  </div>
  {% if not loop.last %}
  <hr class="clients-hr" />
  {% endif %} {% endfor %}
</div>

{% include 'admin/footer_admin.html' %}
