/* Admin first section before login styling */
.admin-section {
    height: 15px;
    text-align: center;
    margin: 9.89rem auto;
}

.admin-section-title {
    font-size: 2.5rem;
    margin-top: -15px;
}

/* After logging in */
/* Home section*/
.admin-section-auth {
    height: 15px;
    text-align: center;
    margin: 9.39rem auto;
}

/* Clients section */
.clients {
    text-align: center;
    color: #007bff;
    margin: 2.5rem auto;
}

.all-clients {
    border-top: 0.2rem black solid;
    background-color: #F5F5F5;
    overflow-y: auto;
    height: 350px;
    margin: auto;
    margin-bottom: 45px;
    padding: 20px 36px;
    width: 38%;
}

.clients-info{
    padding: 0 1rem;
}


.clients-name {
    margin: 0 auto;
    color: #007bff;
}

.clients-rib {
    margin-top: 5px;
    color: #007;
}

.clients-hr {
    border: none;
    color: #007bff;
    width: 100%;
}

.clients-suspend {
    color: #DC143C;
    text-decoration: none;
}

.clients-suspend:hover {
    text-decoration: underline;
}

.client-deleted{
    color: red;
    margin-top: 10px;
    font-style: italic;
    text-align: center;
}