/* styling of the home page of authenticated account */
/* container styling */
.container {
    display: flex;
    flex-direction: column;
}

.top-section,
.bottom-section {
    width: 100%;
}

.middle-section {
    display: flex;
}

.right-section {
    width: 85%;
}

/* first div: top section */
.top-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px auto 110px;
}

.logo-and-title {
    display: flex;
    align-items: center;
}

.first-logo{
  width: 380px;
  height: auto;
  margin-right: 25px;
}

.first-title{
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin-left: 15px;
}

.everyone-word{
  display: block;
  white-space: nowrap;
  font-weight: 900;
  font-size: 45px;
  color: #007bff;
}

/* second div styling */
/* left side */
.left-section{
  width: 15%;
  border-right: 2px solid #007bff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 50px 40px 85px;
}

.left-link{
  font-size: 22px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-decoration: none;
  margin: 14px 0;
  color: #007bff;
  transition: color 0.4s ease;
}

.left-link:hover{
  color: #007;
}

/* the right section styling */
/* home section style */
.home-section{
  padding: 20px 63px;
}

.home-title{
  color: #007bff;
  font-size: 28px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin-left: 50px;
}

.biggest-title{
  color: #007;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}

/* account section style */
.account-section {
    font-size: 19px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.account-title{
  font-size: 32px;
  text-align: center;
  color: #007bff;
  margin: 10px auto 30px;
}

.account-form{
  margin: 5px auto;
  width: 300px;
  border-left: 2px solid #007bff;
  border-right: 2px solid #007bff;
  border-bottom: 2px solid #007bff;
  padding: 25px 62px 20px 89px;
}

.label-input {
    margin-bottom: 25px;
}



.account-label {
  font-size: 20px;
  margin-bottom: 4px;
  display: inline-block;
  width: 151px;
}

.account-input {
  width: 80%;
  border: 1px solid #007bff;
  padding: 10px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.account-rib {
  margin: 0;
  color: #007bff;

}

.change-password {
    display: block;
    width: 148px;
    text-decoration: none;
    color: #007bff;
    margin-bottom: 10px;
}

.change-password:hover{
  text-decoration: underline;
}

.account-update {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 1px;
    display: block;
    margin: 40px auto 12px 83px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.account-update:hover {
    background-color: #0056b3;
}

/* balance section styling */
.balance-section{
  margin: 5px auto;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.balance-title{
  font-weight: 900;
  font-size: 40px;
  color: #007bff;
}

.balance-data{
  margin: 0 auto;
  width: 500px;
  padding: 30px;
  border: 2px solid #007bff;
}

.balance-title3{
  font-size: 28px;
  text-decoration: underline;
  color: #007bff;
}

.balance-p{
  font-size: 26px;
  color: #007;
}

.balance-line{
  border: none;
  color: #007bff;
  height: 2px;
  width: 200;
}

/* beneficiaries section style */
.benef-section{
  margin: 5px auto;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.benef-title, .benef-nobenef{
  font-weight: 900;
  font-size: 40px;
  color: #007bff;
}

.benef-username{
  margin-bottom: 4px;
  font-size: 23px;
  color: #007bff;
}

.benef-p{
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 17px;
  color: #007;
}

.benef-delete {
  color: #007bff;
  text-decoration: none;
}

.benef-delete:hover{
  text-decoration: underline;
}

.all-benef{
  background-color: #F5F5F5;
  overflow-y: auto;
  height: 300px;
  margin: auto;
  margin-bottom: 45px;
  padding: 19px 0;
  width: 50%;
  transition: filter 0.3s ease-in-out;
}

.benef-user-h3{
  margin: 0 auto;
  color: #007bff;
}

.benef-user-p{
  margin-top: 5px;
  color: #007;
}

.benef-hr{
  border: none;
  color: #007bff;
}

.benef-add {
  margin-top: 16px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.4s ease;
  transition: filter 0.3s ease-in-out;
}

.benef-add:hover {
  background-color: #4BC811;
}

.flash-success, .flash-error{
  font-style: italic;
  font-weight: 400;
}

.flash-error{
  color: red;
}

.flash-success{
  color: #4BC811;
}

/* 
this is the styling of the add a beneficiary section
at first it's not gonna be displayed, but onclick it will be displayed
 */
.benef-section, .account-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benef-add-data, .account-change-password {
  display: none;
  position: absolute;
  padding: 22px;
  background-color: #f1f1f1;
  border-radius: 7px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  width: 300px;
  height: 160px;
  top: 240px;
  right: 400px;
}

.close-btn, .close-btn-account {
  position: absolute;
  top: 6px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: #888;
  cursor: pointer;
}

.close-btn, .close-btn-account:hover {
  color: #555;
}

.benef-label {
  display: block;
  margin-bottom: 10px;
}

.input-label {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.benef-button {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.benef-button:hover {
  background-color:#4BC811;
}

/* this will be added to addBenef.js */
.unscrollable {
  overflow: hidden;
  pointer-events: none;
}

.unscrollable * {
  pointer-events: none;
}

/* Styling the transfer section */
.transfer-section{
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.transfer-title{
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  color: #007bff;
}

.transfer-title3{
  text-align: center;
  font-size: 30px;
  margin-top: 0;
}

.transfer-form{
  margin: 5px auto;
  width: 300px;
  border-left: 2px solid #007bff;
  border-right: 2px solid #007bff;
  border-bottom: 2px solid #007bff;
  padding: 25px 62px 20px 89px;
}

.transfer-div {
  margin-bottom: 25px;
}

.transfer-label {
  font-size: 20px;
  margin-bottom: 4px;
  display: inline-block;
  width: 156px;
}

.transfer-input, .transfer-select {
  width: 80%;
  border: 1px solid #007bff;
  padding: 10px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.transfer-select{
  width: 87.5%;
}

.transfer-button{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 1px;
  display: block;
  margin: 40px auto 12px 83px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.transfer-button:hover{
  background-color: #0056b3;
}

.transfer-add-benef{
  text-align: center;
  color: #007bff;
  margin: 32px auto 10px;
  font-size: 21.5px;
}

.transfer-add-benef a{
  color: #007 !important;
  text-decoration: none !important;
}

.transfer-add-benef a:hover{
  text-decoration: underline !important;
}

.flash-error-transfer{
  font-style: italic;
  font-weight: 400;
  color: red;
  text-align: center;
  margin-left: -38px;
}


/* Deposit section style */
.deposit-section{
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.deposit-title{
  /* margin: 31px auto 25px; */
  font-weight: 900;
  font-size: 40px;
  color: #007bff;
  text-align: center;
}

.deposit-username{
  margin-bottom: 4px;
  font-size: 23px;
  color: #007bff;
  text-align: center;
}

.deposit-rib{
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 17px;
  color: #007;
  text-align: center;
}

.deposit-form{
  margin: 50px auto;
  width: 300px;
  border-left: 2px solid #007bff;
  border-right: 2px solid #007bff;
  border-bottom: 2px solid #007bff;
  padding: 25px 45px 24px 80px;
}

.deposit-label {
  font-size: 20px;
  margin-bottom: 4px;
  display: inline-block;
  width: 120px;
}

.deposit-input {
  width: 80%;
  border: 1px solid #007bff;
  padding: 10px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.deposit-button {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 1px;
  display: block;
  margin: 28px auto 10px 76px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deposit-button:hover {
  background-color: #007;
}

.deposit-msg{
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.8px;
  color: #007;
}

/* Card section styling */
.card-section {
  font-family: "Lato", sans-serif;
}

.card-title,
.card-title3 {
  margin: 31px auto 25px;
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  color: #007bff;
}

.card-title3 {
  margin: 7px auto;
  font-size: 29.5px;
}

.card-info {
  margin: 30px auto;
  width: 390px;
  border-left: 2px solid #007bff;
  border-right: 2px solid #007bff;
  border-bottom: 2px solid #007bff;
  padding: 10px 30px 15px 45px;
}

.card-element {
  margin-left: 5px;
  width: 150px;
  display: inline-block;
  font-size: 19px;
}

.card-p {
  margin-left: 20px;
  display: inline-block;
  font-size: 17px;
  color: #007;
}

.card-lastelement {
  text-align: center;
  font-size: 24px;
}

.card-twoP {
  float: right;
}

.card-information {
  color: red;
}