/* margin body 0 */
body{
  margin: 0;
}

/* header styling */
/* logo at left, and title at right */
.first-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
}

.top-logo{
  height: 150px;
  width: auto;
  margin: 10px 0 0 80px;
}

.top-description{
  margin-right: 130px;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #203e5f;
}

.bank-word{
  color: #278664;
}

/* menu styling */
.second-head{
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 0 20px;
}

.menu-head{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #007bff;
  margin: 0 56px;
  text-decoration: none;
  transition: 300ms;
  border-bottom: 2px solid transparent;
}

.menu-head:hover{
  border-color: #007bff;
}

.head-button{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.4s ease-out;
}

.head-button:hover{
  color: #007bff;
  background-color: #f9f9f9;
}

/* body styling */
/* photos slides */
.slideshow-container {
  margin: 60px 0;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  display: none;
  text-align: center;
}

.slide img {
  margin: 45px 0;
  max-width: 70%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* disabled buttons (loans...) */
.loans-info {
  margin: 50px 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.info {
  padding: 10px 25px;
  margin: 0 20px;
  width: 170px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  cursor: default;
  font-size: 25px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.info:hover {
  background-color: #203e5f;
}

/* sign up and log in styling */
.join-bank{
  border: 2px solid #007bff;
  margin: 50px auto;
  padding: 30px 0;
  width: 42%;
}

.title2, .title3{
  text-align: center;
  font-size: 25px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.title3{
  font-weight: 500;
  font-size: 20px;
}

.title3-anchor{
  text-decoration: none;
  color: #007bff;
}

.title3-anchor:hover{
  text-decoration: underline;
}

/* 2 lines with or in the middle */
.hr-container {
  display: flex;
  align-items: center;
  margin: 20px auto;
  width: 40%;
}

.hr-line {
  flex: 1;
  height: 1.5px;
  background-color: #007bff;
}

.hr-text {
  padding: 0 8px;
  color: #007bff;
  font-weight: bold;
  font-family: sans-serif;
}

/* download side style */
.download-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 115px 0;
}

.download-left {
  margin-left: 120px;
  text-align: center;
  width: 40%;
}

.download-right {
  width: 52%;
}

.download-title {
  margin-bottom: 40px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 28px;
}

.download-img{
  width: 185px;
  height: auto;
  margin: 0 14px;
}

.download-logo{
  width: 400px;
  height: auto;
  margin: 0 150px;
}

/* footer styling */
footer {
    background-color: #f1f1f1;
    color: #fff;
    text-align: center;
}

/* more infos/links styling */
.more-links {
  display: flex;
  background-color: #f9f9f9;
  padding-top: 30px;
}

.link-column {
  flex: 1;
  padding: 30px;
}

.link-title {
  color: #007;
  margin-bottom: 20px; /* Add margin below titles for spacing */
  font-family: sans-serif;
  font-size: 24px;
  text-decoration: underline;
}

ul, ul li {
  margin: 8px 0;
  padding: 0;
  list-style: none;
}

.footer-link {
  display: inline-block; /* Make links appear on separate lines */
  width: 114px;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  color: #007bff;
  margin: 0 56px;
  text-decoration: none;
  transition: color 0.5s ease;
}


.footer-link:hover{
  color: #007;
}

.footer-download{
  margin-top: 25px;
}


.link-img{
 width: 150px;
 height: auto;
 margin: 0 12px;
}

/* icons and copyright-footer */
.copyright-footer{
  padding: 36px 0;
}

.footer-icon {
    color: #fff;
    font-size: 30px;
    margin: 10px;
    text-decoration: none;

}

.fa-brands{
  color: #000;
    transition: color 0.3s ease;
}

.fa-facebook:hover {
    color: #007bff;
}

.fa-instagram:hover{
    color: #f83376;
}

.fa-twitter:hover{
    color: #2f9aea;
}

.fa-snapchat:hover{
    color: #8B8000;
}


.footer-subheading {
  color: #000;
    margin-top: 25px;
    font-size: 22px;
    opacity: 0.8;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

/* styling of the flash in login */
.flash-message{
  color: red;
  font-size: 15px;
  margin-bottom: 12px;
}

/* hr style */
hr {
  height: 2px;
  width: 90%;
  background-color: #007bff;
  border: none;
  margin: 20px auto;
}
