{% include 'client/header.html' %}

<div class="container">
  <div class="top-section">
  <div class="logo-and-title">
      <img src="static/client/img/logobank.png" alt="Bank Logo" class="first-logo">
      <h2 class="first-title">The bank that <span class="everyone-word">everyone</span>needs.</h2>
  </div>
</div>


    <div class="middle-section">
        <div class="left-section">
          <a href="#" class="left-link">Home</a>
          <a href="#" class="left-link">Your account</a>
          <a href="#" class="left-link">Balance</a>
          <a href="#" class="left-link">Beneficiaries</a>
          <a href="#" class="left-link">Transfer money</a>
          <a href="#" class="left-link">Deposit money</a>
          <a href="#" class="left-link">Withdraw money</a>
          <a href="#" class="left-link">Your loans</a>
          <a href="#" class="left-link">Card information</a>
        </div>

        <div class="right-section">
<p>right</p>
        </div>
    </div>

    <div class="bottom-section">
<p>bottom</p>
    </div>
</div>


{% include 'client/footer.html' %}
