<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bahae Bank</title>
    <!-- The icon image -->
    <link rel="icon" href="static/client/img/iconbank.png">
    <!-- CSS file -->
    <link rel="stylesheet" href="static/client/home.css">
    <!-- font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
          rel="stylesheet">
    <!-- social media icons links -->
    <script src="https://kit.fontawesome.com/a7aad111ea.js" crossorigin="anonymous"></script>
</head>
<body>

<header>
    <div class="first-head">
        <img src="static/client/img/logobank.png" alt="Bank Logo" class="top-logo">
        <p class="top-description">The <span class="bank-word">bank</span> of the future</p>
    </div>

    <div class="second-head">
        <a href="#" class="menu-head">Home</a>
        <a href="#" class="menu-head">Log in</a>
        <a href="#" class="menu-head">Contact us</a>
        <a href="#" class="menu-head">About us</a>
        <a href="#" class="head-button">Create an account</a>
    </div>
</header>

<div class="slideshow-container">
    <div class="slide">
        <img src="static/client/img/carloan.jpg" alt="Car Loan">
    </div>

    <div class="slide">
        <img src="static/client/img/houseloan.jpg" alt="House Loan">
    </div>

    <div class="slide">
        <img src="static/client/img/interest.jpg" alt="Interest">
    </div>
</div>

<div class="loans-info">
    <div class="button-container">
        <p class="info">Car Loan 🚗</p>
        <p class="info">House Loan 🏡</p>
    </div>

    <div class="button-container">
        <p class="info">Security 🔐</p>
        <p class="info">0% Interest 💶</p>
    </div>
</div>

<div class="join-bank">
    <h2 class="title2">If you want to become one of us</h2>
    <h3 class="title3">Click here to <a href="#" class="title3-anchor">Sign up</a></h3>

    <div class="hr-container">
        <div class="hr-line"></div>
        <div class="hr-text">or</div>
        <div class="hr-line"></div>
    </div>

    <h2 class="title2">If you are already one of us</h2>
    <h3 class="title3">Click here to <a href="#" class="title3-anchor">Log in</a></h3>
</div>

<div class="download-links">
    <div class="download-left">
        <h3 class="download-title">Download Bahae Bank Mobile via</h3>
        <a href="https://play.google.com" target="_blank"><img src="static/client/img/playstore.png" alt="Play Store"
                                                               class="download-img"></a>
        <a href="https://www.apple.com/app-store/" target="_blank"><img src="static/client/img/appstore.png"
                                                                        alt="App Store" class="download-img"></a>
    </div>
    <div class="download-right">
        <img src="static/client/img/logobank.png" alt="Bank Logo" class="download-logo">
    </div>
</div>

<footer>
    <div class="more-links">
        <div class="link-column">
            <h3 class="link-title">Bahae Bank</h3>
            <ul>
                <li><a href="#" class="footer-link">Sign up</a></li>
                <li><a href="#" class="footer-link">Log in</a></li>
                <li><a href="#" class="footer-link">About us</a></li>
            </ul>
        </div>

        <div class="link-column">
            <h3 class="link-title">Any problem?</h3>
            <ul>
                <li><a href="#" class="footer-link">Contact us</a></li>
                <li><a href="#" class="footer-link">Test Link</a></li>
                <li><a href="#" class="footer-link">Test Link</a></li>
                <li><a href="#" class="footer-link">Test Link</a></li>
                <ul>
        </div>

        <div class="link-column">
            <h3 class="link-title">Download our mobile application</h3>
            <div class="footer-download">
                <a href="https://play.google.com" target="_blank">
                    <img src="static/client/img/playstore.png" alt="Play Store" class="link-img">
                </a>
                <a href="https://www.apple.com/app-store/" target="_blank">
                    <img src="static/client/img/appstore.png" alt="App Store" class="link-img">
                </a>
            </div>
        </div>
    </div>


    <div class="copyright-footer">
        <a href="#" class="footer-icon"><i class="fa-brands fa-facebook"></i></a>
        <a href="#" class="footer-icon"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" class="footer-icon"><i class="fa-brands fa-twitter"></i></a>
        <a href="#" class="footer-icon"><i class="fa-brands fa-snapchat"></i></a>
        <h4 class="footer-subheading">Copyright © 2024</h4>
    </div>
</footer>


<script src="static/client/loansTopImages.js"></script>
</body>
</html>
