{% include 'client/header.html' %}

<div class="slideshow-container">
    <div class="slide">
        <img src="static/client/img/carloan.jpg" alt="Car Loan">
    </div>

    <div class="slide">
        <img src="static/client/img/houseloan.jpg" alt="House Loan">
    </div>

    <div class="slide">
        <img src="static/client/img/interest.jpg" alt="Interest">
    </div>
</div>

<div class="loans-info">
    <div class="button-container">
        <p class="info">Car Loan 🚗</p>
        <p class="info">House Loan 🏡</p>
    </div>

    <div class="button-container">
        <p class="info">Security 🔐</p>
        <p class="info">0% Interest 💶</p>
    </div>
</div>

<div class="join-bank">
    <h2 class="title2">If you want to become one of us</h2>
    <h3 class="title3">Click here to <a href="{{ url_for('signup') }}" class="title3-anchor">Sign up</a></h3>

    <div class="hr-container">
        <div class="hr-line"></div>
        <div class="hr-text">or</div>
        <div class="hr-line"></div>
    </div>

    <h2 class="title2">If you are already one of us</h2>
    <h3 class="title3">Click here to <a href="{{ url_for('login') }}" class="title3-anchor">Log in</a></h3>
</div>

<div class="download-links">
    <div class="download-left">
        <h3 class="download-title">Download Bahae Bank Mobile via</h3>
        <a href="https://play.google.com" target="_blank"><img src="static/client/img/playstore.png" alt="Play Store"
                                                               class="download-img"></a>
        <a href="https://www.apple.com/app-store/" target="_blank"><img src="static/client/img/appstore.png"
                                                                        alt="App Store" class="download-img"></a>
    </div>
    <div class="download-right">
        <img src="static/client/img/logobank.png" alt="Bank Logo" class="download-logo">
    </div>
</div>

{% include 'client/footer.html' %}
