<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bahae Bank</title>
    <link rel="stylesheet" href="static/client/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
          rel="stylesheet">
</head>
<body>

<header>
    <div class="first-head">
        <img src="static/client/logobank.png" alt="Bank Logo" class="top-logo">
        <p class="top-description">The <span class="bank-word">bank</span> of the future</p>
    </div>

    <div class="second-head">
        <a href="#" class="menu-head">Home</a>
        <a href="#" class="menu-head">Log in</a>
        <a href="#" class="menu-head">Contact us</a>
        <a href="#" class="menu-head">About us</a>
        <a href="#" class="head-button">Create an account</a>
    </div>
</header>

<div class="slideshow-container">
    <div class="slide">
        <img src="static/client/carloan.jpg" alt="Slide 1">
    </div>

    <div class="slide">
        <img src="static/client/houseloan.jpg" alt="Slide 2">
    </div>

    <div class="slide">
        <img src="static/client/interest.jpg" alt="Slide 3">
    </div>
</div>

<div class="loans-info">
  <div class="button-container">
    <p class="info">Car Loan 🚗</p>
    <p class="info">House Loan 🏡</p>
  </div>

  <div class="button-container">
    <p class="info">Security 🔐</p>
    <p class="info">0% Interest 💶</p>
  </div>
</div>

<hr>

<h2 class="title2">If you want to become one of us</h2>
<h3 class="title3">Click here to <a href="#">sign up</a></h3>






<script src="static/client/loansTopImages.js"></script>
</body>
</html>
