{% include 'client/header.html' %}

<div class="container">
  <div class="top-section">
    <div class="logo-and-title">
      <img
        src="static/client/img/logobank.png"
        alt="Bank Logo"
        class="first-logo"
      />
      <h2 class="first-title">
        The bank that <span class="everyone-word">everyone</span>needs.
      </h2>
    </div>
  </div>

  <div class="middle-section">
    <div class="left-section">
      <a href="{{ url_for('clientInterface') }}" class="left-link">Home</a>
      <a href="{{ url_for('account') }}" class="left-link">Your account</a>
      <a href="{{ url_for('balance') }}" class="left-link">Balance</a>
      <a href="{{ url_for('benefs') }}" class="left-link">Beneficiaries</a>
      <a href="{{ url_for('transfer') }}" class="left-link">Transfer money</a>
      <a href="{{ url_for('deposit') }}" class="left-link">Deposit money</a>
      <a href="{{ url_for('withdraw') }}" class="left-link">Withdraw money</a>
      <a href="{{ url_for('loans') }}" class="left-link">Your loans</a>
      <a href="{{ url_for('card') }}" class="left-link">Card information</a>
    </div>

    <div class="right-section">
      <div id="card" class="card-section">
        <h2 class="card-title">Card information</h2>
        <h3 class="card-title3">
          {% if client['gender'] == 'Man' %} Mr. {% else %} Mrs. {% endif %} {{
          client['lastName'] }} {{ client['firstName'] }}
        </h3>

        <div class="card-info">
          <h3 class="card-element">Number <span class="card-twoP">:</span></h3>
          <p class="card-p">{{ card.number }}</p>
          <h3 class="card-element">
            Expiration date <span class="card-twoP">:</span>
          </h3>
          <p class="card-p">{{ card.expiration_date }}</p>
          <h3 class="card-element">CVC <span class="card-twoP">:</span></h3>
          <p class="card-p">{{ card.cvc_code }}</p>
          <h3 class="card-lastelement">
            Keep these <span class="card-information">information</span> secret
            🔐
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-section">
    <div class="download-links">
      <div class="download-left">
        <h3 class="download-title">Download Bahae Bank Mobile via</h3>
        <a href="https://play.google.com" target="_blank"
          ><img
            src="static/client/img/playstore.png"
            alt="Play Store"
            class="download-img"
        /></a>
        <a href="https://www.apple.com/app-store/" target="_blank"
          ><img
            src="static/client/img/appstore.png"
            alt="App Store"
            class="download-img"
        /></a>
      </div>
      <div class="download-right">
        <img
          src="static/client/img/logobank.png"
          alt="Bank Logo"
          class="download-logo"
        />
      </div>
    </div>
  </div>
</div>

{% include 'client/footer.html' %}
